# Telegram Bot
python-telegram-bot==21.0.1

# Anthropic Claude API
anthropic==0.39.0

# NewsAPI
newsapi-python==0.2.7

# RSS парсинг
feedparser==6.0.11

# HTTP клиент
aiohttp==3.10.10

# База данных
SQLAlchemy==2.0.36
asyncpg==0.30.0
greenlet==3.1.1
alembic==1.13.3
psycopg2-binary==2.9.10

# Обработка дат
python-dateutil==2.9.0.post0

# Часовые пояса
pytz==2024.2

# Обработка изображений
Pillow==11.0.0

# Парсинг и утилиты
python-dotenv==1.0.1
beautifulsoup4==4.12.3
lxml==5.1.0  # Если билд долго идет, можно удалить эту строку - bs4 будет использовать html.parser
